p {
  font-family: Roboto;
  font-weight: lighter;
  margin-top: 0;
  margin-bottom: 0;
}

.video-title {
  font-family: Roboto Slab;
  font-size: 20px;
  font-weight: bold;
  width: 330px;
  line-height: 24px;
  margin-bottom: 5px;
}

.video-stats {
  font-size: 14px;
  color: #737373;
  margin-bottom: 20px;
}

.video-author {
  font-size: 14px;
  color: #737373;
  margin-bottom: 15px;
}

.video-description {
  font-size: 14px;
  color: #737373;
  margin-bottom: 50px;
  width: 280px;
  line-height: 22px;
}

.apple-text {
  margin-bottom: 50px;
  color: white;
  font-size: 14px;
  background-color: #E4413F;
  padding: 20px;
  text-align: center;
}

.shop-link:hover {
  text-decoration: underline;
  cursor: pointer;
}