.sidebar {
  position: fixed;
  top: 55px;
  left: 0px;
  bottom: 0px;
  background-color: white;
  width: 72px;
  z-index: 200;
}

.sidebar-link {
  background-color: white;

  height: 74px;
  margin-bottom: 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sidebar-link img {
  height: 25px;
  margin-bottom: 5px;
}

.sidebar-link div {
  font-family: Roboto;
  font-weight: 400;
  font-size: 10px;
}

.sidebar-link:hover {
  background-color: rgb(235, 235, 235);
}